*
	margin 0px
	padding 0px
body
	background-color white
label
	display inline-block
	margin: 5px 5px 5px 5px
	vertical-align: sub
.input
	border-radius: 5px
	border: 1px solid #d0d0d0
	display: inline-block
	font-size: 16px
	margin: 0px 0 5px 0
	outline: 0
	padding: 8px
	width: 100%
.input_mini
	border-radius: 5px
	border: 1px solid #d0d0d0
	display: inline-block
	font-size: 16px
	margin: 0px 0px 0px 3px
	outline: 0
	padding: 8px
	width: 32%
.input_combi
	border-radius: 5px
	border: 1px solid #d0d0d0
	display: inline-block
	font-size: 16px
	margin: 0px 0 0px 3px
	outline: 0
	padding: 8px
	width: 48%
.derecha
	text-align: right
.center
	text-align center
.mformulario
	margin 0px auto
	width 60%
.titulo
	border-bottom: 1px solid #eee
	font-size: 35px
	margin-top: 0
	margin: 40px 0 20px
	padding-bottom: 9px
	padding-top: 20px
.btn_matricula
	border-radius: 5px
	border: 1px solid #000000
	display: inline-block
	font-size: 16px
	margin: 15px 0 10px 3px
	outline: 0
	padding: 8px
	color: #FFF
	background: #EC3236